* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}


h1{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
width: 295px;
color: aqua;
}


p{
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 13px;
line-height: 20px;
letter-spacing: 0%;
text-transform: capitalize;
left: 100px;
width: 250px;

}




.box{
    display: flex;
      flex-wrap: wrap;
      gap: 60px;
      padding: 111px;
      display: grid grid grid grid grid;
}





.nnn{
    color: black;
    text-align: center;
}



.hhh{
    text-align: center;
    background: #000;
}


h3{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;

text-transform: uppercase;


}


span{
    color: aqua;
}

input{
    width: 295px;
    height: 60px;
}


h6{
    color: yellow;
}


button{
    width: 295px;
    height: 60px;
    background-color: #01AEE7;
}

h4{
    color: white;
}

h5{
    color: yellow;
}

